[Unit]
Description=Xantech Pi
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pyxantech/
ExecStart=/usr/bin/python3 /home/pi/pyxantech/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
