.parent {
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}
.layout-col {
    height:min-content;
    margin:0;
    padding:0;
}
.col-content {
    margin:0 !important;
}
.layout-col-1 { grid-area: 1 / 1 / 2 / 2; } /* power button */
.layout-col-2 { grid-area: 1 / 2 / 2 / 6; } /* source select menu */
.layout-col-3 { grid-area: 2 / 1 / 3 / 2; } /* volume display */
.layout-col-4 { grid-area: 2 / 2 / 3 / 6; } /* volume slider */